.songsButton {
    width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.songsContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 400px;
    padding: 40px;
}

.songContainer{
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 40px;
}

.songContainer:hover{
    box-shadow: 2px 2px 2px 2px rgb(76, 43, 226);
}



.songImg {
    height: 100px;
    width: 100px;
}