.songsButton {
    width: 100px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.songsContainer {
    display: grid;
    grid-template-rows: repeat(4, 200px);
    grid-template-columns: repeat(4, 1fr);
    height: 400px;
    padding: 40px;
}

.songContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100px;
    width: 100px;
    padding: 40px;
    padding-bottom: 60px;
}

.songContainer:hover{
    box-shadow: 2px 2px 2px 2px rgb(76, 43, 226);
    background-color: black;
}

.just-for-space{
    height: 200px;
    bottom: 0;
    position: fixed;
    width: 100%;
}



.songImg {
    height: 100px;
    width: 100px;
}

.image-and-title {
    background-color: black;
}

.title {
    background-color: silver;
    color: black;
}



.title:hover {
}