.song-title {
    margin-top: 20px;
    text-align: center;
    padding-bottom: 20px;
    height: 80px;
    font-weight: bold;
    color: silver;
    font-size: 20px;
    font-family: 'Play';
}

.audio-player {
    display: flex;
    justify-content: center;
   align-items: center;
   position: relative;
   height: 100px;
   padding-bottom: 50px;
   color: black;
}

.actual-player {
    position: absolute;
}


.content{
    columns: 1;
}
.edit-and-delete {
    position: absolute;
    display: flex;
    padding: 30px;
    padding-top: 150px;
    flex-direction: row;
    width: 200px;
}


.editButtonDiv{
        padding-right: 20px;
}
.editTrackButton{
        border: none;
        background-color: green;
        color: silver;
        border-radius: 3px 3px 3px 3px;
        font-family: 'Exo';
        font-weight: bold;
}
.editTrackButton:hover {
        cursor: pointer;
        background-color: springgreen;
        color: green;
}

.deleteTrackButton{
        border: none;
        background-color: rgb(124, 0, 0);
        color: silver;
        border-radius: 3px 3px 3px 3px;
        font-family: 'Exo';
        font-weight: bold;
}

.deleteTrackButton:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: rgb(65, 2, 2);
}

.buttonArrangement{
    display: flex;
    flex-direction: row;
    padding:20px;
    width: 200px;
}

.commentsContainer {
    display: flex;
    justify-content: center;
}

.commentContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    box-shadow: 3px 3px 3px black;
}

.postComment{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100px;
    resize: none;
    box-shadow: 3px 3px 3px black;
}

.commentBody {
    border: grey solid;
    border-radius: 4px 4px 4px 4px;
    padding: 10px;
    font-family: 'Alatsi';
    color: silver;
    font-size: 13px;
    background-color: black;
}

.commentUsername {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 2px;
    font-family: 'Exo';
    font-size: 11px;
    color: gray;
}

.specificComment {
    padding: 4px;
}

.newCommentForm{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    padding-top: 15px;
}

.commentInput{
    background-color: rgb(19, 19, 19);
    color: white;
}
