.editCommentButton{
    border: none;
    background-color: rgb(192, 192, 192);
    color: rgb(20, 20, 20);
    border-radius: 3px 3px 3px 3px;
    font-family: 'Exo';
    font-weight: bold;
}

.editComment:hover{
    cursor: pointer;
    background-color: rgb(115, 192, 255);
    color: rgb(22, 22, 22);
}