@import url('https://fonts.googleapis.com/css?family=Alatsi');
@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Exo');


.navContainer {
    background-image: linear-gradient(rgb(0, 197, 197), rgb(138, 138, 138));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    box-shadow: 0px 0px 15px;
}

body {
    background-image: linear-gradient(45deg, rgb(51, 51, 51), black);
    margin: 0px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.backgroundSplash{
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    background-image: 'https://free4kwallpapers.com/uploads/originals/2020/07/29/black-ocean-wallpaper.jpg';
}

img{
    display: block;
}
h1{
    text-align: center;
}
h3{
    text-align: center;
}
.welcomeContainer{
    height: 300px;
    padding-top: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Play';

}

.splashButtonsContainer{
    display: flex;
    justify-content: center;
}

/* .splashLoginButton{
    padding-right: 10px;
    border: none;
    background-color: rgb(14, 0, 94);
    color: silver;
    border-radius: 3px 3px 3px 3px;
    font-family: 'Exo';
    font-weight: bold;
}

.splashLoginButton:hover {
    cursor: pointer;
    background-color: rgb(0, 21, 206);
    color: rgb(8, 1, 114);
} */

.splashSignupButton{
    padding-left: 10px;
}

.footer {
    background-image: linear-gradient(rgb(0, 197, 197), rgb(138, 138, 138));
    display: flex;
    height: 50px;
    width: 100%;
    bottom: 0;
    box-shadow: 0px 0px 15px;
    position: fixed;

}
.space {
    width: 100%;
    height: 100px;
    bottom: 0;
    position: fixed;
}
.home-icon-box {
    width: 200px;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.home-icon {
    width:50px;
    height:50px;
    padding-left: 10px;
}

.home-title {
    font-family: 'Altasi' ;
    padding-left: 10px;
    padding-top: 6px;
    font-family: 'Play';
    text-decoration: none;
    font-size: 30px;
}

.tracks-link-div {
    padding-right: 20px;
}

a {
    text-decoration: none;
    color: white;
    font-family: 'Alatsi'
}

a:hover {
    color: rgb(76, 43, 226);
    text-shadow: 2px 2px 6px;
}
